{% extends "base.html" %}

{% block title %}
Register
{% endblock %}


{% block content %}
<!--// Registration Form -->
	<section>
	  <h2>Register</h2>
	  <form method="post">
	    {% csrf_token %}
	    {{ form.non_field_errors }}
	    {% for field in form %}
	      <div class="form-item">
	        <div class="label">
	          {{ field.label_tag }}
	        </div>
	        <div class="field">
	          {{ field }}
	        </div>
	        <div class="info">
	          {% if field.help_text %}
	            <small>{{ field.help_text|safe }}</small>
	          {% endif %}
	          {% for error in field.errors %}
	            <p style="color: #cc0000">{{ error }}</p>
	          {% endfor %}
	        </div>
	      </div>
	    {% endfor %}
	    <button type="submit">Register</button>
	  </form>
	</section>
{% endblock %}