{% extends "base.html" %}

{% block title %}
Add Snippet
{% endblock %}

{% block content %}
<!--// Snippet Form -->
	<section>
	  <h2>Add Snippet</h2>
	  <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
      <div class="form-item">
        <div class="label">
          {{ field.label_tag }}
        </div>
        <div class="field">
          {{ field }}
        </div>
        <div class="info">
          {% if field.help_text %}
            <small>{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: #cc0000">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
	</section>
{% endblock %}