{% extends "base.html" %}
{% load static %}

{% block title %}
	{% if snippet.title %}
	{{ snippet.title }}
	{% else %}
	Untitled | Snippet
	{% endif %}
{% endblock %}


{% block content %}
	<!--// Snippet -->
	<section class="snippet">
		<!--// Snippet intro -->
		<div>
			<h2>
				{% if snippet.title %}
				{{ snippet.title }}
				{% else %}
				Untitled
				{% endif %}
			</h2>
			<p><i class="fas fa-user"></i> {{ snippet.author.username }}</p>
			<p><i class="fas fa-clock"></i> {{ snippet.time_added }}</p>
			<p><i class="fas fa-edit"></i> {{ snippet.time_updated }}</p>
		</div>


		{% if snippet.author == user %}
		<!--// Snippet options -->
		<div class="modify-icons">
			<a href="{% url 'edit_snippet' snippet.id %}" class="edit"><i class="fas fa-edit"></i></a>
			<a href="{% url 'delete_snippet' snippet.id %}" class="delete"><i class="fas fa-trash-alt"></i></a>
		</div>
		{% endif %}

		<!--// The Code -->
		<div>
			<pre>
				<code class="lang-{{ snippet.syntax_highlighting }}">
					{{ snippet.raw_text }}
				</code>
			</pre>
		</div>
	</section>
{% endblock %}


{% block scripts %}
		<script src="{% static 'scripts/prism.js' %}"></script>
{% endblock %}