<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Snippet{% endblock %}</title>
    <link href="{% static 'css/prism.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}?v=1.11">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
	<div class="page">
		<!--// Header -->
		<header>
			<h1 id="brand"><a href="/">Snippet </a></h1>
			<nav>
				<img src="{% static 'img/menu.svg' %}" id="menu-icon">
				<ul>
					<div class="wrapper">
						<a href="{% url 'new_snippet' %}">New snippet</a>
						{% if user.is_authenticated %}
						<a href="{% url 'account_settings' %}">Account Settings</a>
						<a href="{% url 'logout' %}">Logout</a>
						{% else %}
						<a href="{% url 'login' %}">Login</a>
						<a href="{% url 'register' %}">Register</a>
						{% endif %}
					</div>
				</ul>
			</nav>
		</header>

		<!--// Main Content -->
		<main>
		{% block content %}
		{% endblock %}
		</main>

		<!--// Footer -->
		<footer>
			<div>
				<a href="#">About</a>
				<a href="#">For developers</a>
				<a href="#">Contact Us</a>
			</div>
			<p>&copy; 2018 Snippet. Made by <a href="https://twitter.com/gootacs">Abdalla Mohamed</a></p>
		</footer>

		<!--// Scripts -->
		<script type="text/javascript">
		(function() {
			let menu = document.querySelector('ul'),
					menuLink = document.querySelector('img')

			menuLink.addEventListener('click', function(e) {
				menu.classList.toggle('active')
				e.preventDefault()
			})
		})()
		</script>
		{% block scripts %}
		{% endblock %}
	</div>

</body>
</html>